html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: burlywood;
    user-select: none;
    font-family: 'Dosis', sans-serif;
}

.menu {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: auto;
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: blue;
    padding: 0 40px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}


.brand {
    font-size: 2.5rem;
    color: white;
    font-weight: 200;
}

.menuIcons {
    color: #ffffff;
    font-size: 2rem;
    margin-left: auto;
}
.menuIcons:hover {
    color: chocolate;
}    
a{
    color: inherit;
    text-decoration: none;
}